
body {
	margin: 8px 8px 8px 7px;
}

#menu_btn {
	top: 18px;
	left: 16px;
	/*vor den Gruppe-Label setzen, sonst kann man den btn nicht klicken*/
	z-index: 5;
}

#menu {
	left: 7px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 8px 8px 8px 8px;
	background-color: #FFFFF0;
	/*auf chrome liegt Menu ohne diesen z-index unter Accordion (in FF und IE nicht)*/
	z-index: 1;
}

#forms {
	/*wenn forms unter menu kommt muss ein margin vorhanden sein*/
	margin-bottom:7px;
}

/*über 1000px nebeneinander*/
@media screen and (min-width: 1001px) {
	#menu {
		width:365px;
		position:fixed;
	}

	#menu_btn {
		position: fixed;
	}

	#forms {
		/*position: absolute;
		left: 399px;*/
		width: -webkit-calc(100% - 391px);
		width: -o-calc(100% - 391px);
		width: calc(100% - 391px);
	}

	#forms {
		transform: translate(391px,0px);
		-ms-transform: translate(391px,0px); /* IE 9 */
		-webkit-transform: translate(391px,0px); /* Safari and Chrome */
		-o-transform: translate(391px,0px); /* Opera */
		-moz-transform: translate(391px,0px); /* Firefox */
	}
}

/*
* unter 1000px beide Spalten übereinander setzen
* 855px ist auf PC's optimal. Mein Handy hat 1280px, reagiert aber auf handheld
* iPhone ignoriert handheld leider
*/
@media handheld, only screen and (max-width: 1000px) {
	#menu {
		right: 0px;
		float: left;
		width: -webkit-calc(100% - 18px);
		width: -o-calc(100% - 18px);
		width: calc(100% - 18px);
		margin-bottom: 10px;
	}

	#menu_btn {
		position: absolute;
	}

	#forms {
		position: relative;
		width: 100%;
	}
}

.baum {
	overflow: auto;
	overflow-x: hidden;
	/*verhindern, das Text hinter dem Scrollbalken verschwindet*/
	padding-right: 15px;
}

/*Text umbrechen lassen*/
#menu .jstree a {
	white-space: normal;
	height: auto;
	padding: 4px 1px;
}

.baum li > ins {
	vertical-align: top;
}

.baum .jstree-hovered, .baum .jstree-clicked {
	border: 0;
}

.baum a ins {
	height: 20px;
	width: 20px;
	background-position: -56px -17px;
}

/*gesuchte Einträge formattieren*/
.jstree-search {
	color: #CC012A !important;
}

.accordion-heading a {
	font-size: 17px;
	color: #944600;
	font-weight: bold;
}

.accordion-inner {
	background-color: #FFFFF0;
}

input[readonly="readonly"], textarea[readonly="readonly"] {
    /*background-color: transparent;*/
    background-color: #ffffff;
}

#menu-div {
	line-height: 30px;
}

#Gruppe {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	margin-left: 0px;
	/*Buttongroup darf Breite der Spalte nicht beeinflussen*/
	/*white-space: normal;*/
}

#Gruppe_label {
	position: relative;
	left: 78px;
	top: 8px;
}

#suchen {
	/*relative setzen, damit suche_leeren_btn im Verhältnis dazu absolute gesetzt werden kann*/
	position: relative;
	margin-bottom: 2px;
}

#suchfeld {
	width: -webkit-calc(100% - 40px);
	width: -o-calc(100% - 40px);
	width: calc(100% - 40px);
	max-width: 318px;
}

.treeBeschriftung {
	margin-bottom: 1px;
}

#suche_leeren_btn {
	position: absolute;
	top: 5px;
	left: 340px;
	z-index: 4;
}

/*funktioniert nicht, weil button verschwindet, wen focus auf dem feld ist
#suche_leeren_btn {
	transform: translate(-13px,-25px);
	-ms-transform: translate(-13px,-25px);
	-webkit-transform: translate(-13px,-25px);
	-o-transform: translate(-13px,-25px);
	-moz-transform: translate(-13px,-25px);
}*/

#art label {
	width: 180px;
	color: #555555;
	margin-right: 7px;
	/*vertikalen Abstand vermindern, wenn der Text des Labels umgebrochen ist*/
	margin-bottom: 0px;
}

#art .feldtext {
	margin-left: 192px;
	display: block;
	padding-top: 5px;
}

a {
	color: #016ca2;
}

#art .feldtext a {
	margin-left: 0px;
}

a:hover {
	text-decoration: underline;
}

#art legend {
	color: #6F6F66;
	font-weight: bold;
	margin: 0px 0px 7px 0px;
}

.controls {
	width: -webkit-calc(100% - 210px);
	width: -o-calc(100% - 210px);
	width: calc(100% - 210px);
}

.Datensammlung {
	color: #944600;
}

.alert {
	/*wird erst sichtbar geschaltet, wenn benötigt*/
	display: none;
}

.BeschreibungDatensammlung {
	/*font-size:80%;*/
	padding-bottom: 0.5em;
}

/*alle Datenfelder links ausrichten*/
.Datenfelder {
	float: left;
	margin: 0px 5px 10px 0px;
}

.accordion-inner hr {
	margin: 11px 0px;
}

/*Titel für Eigenschaften und Beziehungen stylen*/
.accordion h4 {
	padding-left: 15px;
	margin-bottom: 3px;
	color: #424242;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	color: #424242;
}

.form {
	margin-left: auto;
}

/*vertikalen Abstand zwischen Feldern verkleinern*/
#art .control-group {
	margin-bottom: 5px;
}

[type=number] {
	width: 100px;
}

#art input, #art select, #art textarea {
	/*alle inputs genau links ausrichten*/
	margin-left: 2px;
}

/*erste Zeile des Labels vertikal ausrichten*/
.form-horizontal .control-label {
	padding-top: 3px;
}

/*alle Datenfelder von den letzten absetzen*/
.fieldcontain {
	/*floaten von label und Datenfeld des letzten Feldes aufheben*/
	clear: both;
	display: block;
	margin: 0px 0px 7px 0px;
}

option {
	white-space: pre;
}

#vakata-contextmenu {
	width: 230px;
}

/*Gradient, um die Accordions zu stylen*/
.accordion-group_gradient {
	background-color: #FFFFD8; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFE0), to(#FFFFD8));
	background-image: -webkit-linear-gradient(top, #FFFFE0, #FFFFD8); 
	background-image: -moz-linear-gradient(top, #FFFFE0, #FFFFD8);
	background-image: -ms-linear-gradient(top, #FFFFE0, #FFFFD8);
	background-image: -o-linear-gradient(top, #FFFFE0, #FFFFD8);
}

.hinweis {
	/*wird erst eingeblendet, wenn ein Anliegen besteht*/
	display: none;
}

.signup {
	/*wird erst bei signup eingeblendet*/
	display: none;
}